<%- include ('../partials/header') %>

<div class="container my-5">
  <!-- Add in your own product display -->
  <header class="container">
    <h1><%= products.name %></h1>
  </header>
</div>
<div class="description">
  <%- products.Description %>
</div>
<div class="price">
  <%- products.price %>
</div>

<%- include ('../partials/footer') %>